{% extends 'base.html' %}
{% block title %}Sales{% endblock %}
{% block body %}
<main>
    <center>
    <div class="container row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">1 month</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$40</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Estimated cost after launch</li>
                <li>Not available</li>
            </ul>
            <a  class="w-100 btn btn-lg btn-outline-primary" >Buy</a>
          </div>
        </div>
        </div>

        <div class="col">
           <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">6 month</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$220</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Estimated cost after launch</li>
                <li>Not available</li>
            </ul>
            <a  class="w-100 btn btn-lg btn-outline-primary" >Buy</a>
          </div>
        </div>
            </div>
<div class="col">
           <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">1 year</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$380</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Estimated cost after launch</li>
                <li>Not available</li>
            </ul>
            <a  class="w-100 btn btn-lg btn-outline-primary" >Buy</a>
          </div>
        </div>
    </div>

      </div>
      </div>
        </center>
</main>
{% endblock %}